extends layout

block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 菜品名字
                        th 分类
                        th 图片
                        th 价格
                        //- th 录入时间
                        th 查看   
                        th 更新
                        th 删除
                tbody
                    each item in meal
                        tr(class="item-id-#{item._id}")
                            td #{item.name}
                            td #{item.poster}
                            td #{item.coutry}
                            td #{item.year}
                            //- td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
                            td: a(target="_blank",href="../meal/#{item._id}") 查看
                            td: a(target="_blank",href="../admin/update/#{item._id}") 修改
                            td
                                button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
script(src="/javascripts/admin.js")